NESEMU_sample/emu/* linguist-vendored
ff14/source/* linguist-vendored
rxlib/* linguist-vendored
RX600/drw2d/* linguist-vendored
r_net/driver/* linguist-vendored
r_net/T4_src/* linguist-vendored
r_usb/* linguist-vendored
