RTK5_NESEMU/emu/* linguist-vendored
ff13c/source/* linguist-vendored
zlib/* linguist-vendored
libmad/* linguist-vendored
jpeg-6b/* linguist-vendored
RX600/drw2d/* linguist-vendored
r_net/driver/* linguist-vendored
r_net/T4_src/* linguist-vendored
r_usb/* linguist-vendored
