*~
*.[aod]
*.map
*.lst
*.elf
*.mot
*.exe
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_mod
*-cache.lib
release/
debug/
html/
ff12b/doc/
*.db
!libmad/mad.h
!libmad/.libs/libmad.a
libmad/
!jpeg-6b/jpeglib.h
!jpeg-6b/jconfig.h
!jpeg-6b/jmorecfg.h
!jpeg-6b/libjpeg.a
jpeg-6b/
