*~
*.[aod]
*.map
*.lst
*.elf
*.mot
*.exe
*.bak
*.bck
*.lib
*.kicad_pcb-bak
*.sch-bak
release/
debug/
html/
*.db
libusb/
tmp/
!NESEMU_sample/RX65N/nesemu_stable.mot
!NESEMU_sample/RX72N/nesemu_stable.mot
!RX600/drw2d/libdrw2d.a
!rxlib/lib/libmad.a
!rxlib/lib/libgmp.a
!rxlib/lib/libmpfr.a
!rxlib/lib/libz.a
!rxlib/lib/libpng.a
!rxlib/lib/libjpeg.a
rxlib/src
