*~
*.[aod]
*.map
*.lst
*.elf
*.mot
*.exe
*.bak
*.bck
*.lib
*.kicad_pcb-bak
*.sch-bak
release/
debug/
html/
*.db
!jpeg-6b/jpeglib.h
!jpeg-6b/jconfig.h
!jpeg-6b/jmorecfg.h
!jpeg-6b/libjpeg.a
jpeg-6b/
r_usb/
libusb/
tmp/
libmad/libmad
libpng/libpng
!RTK5_NESEMU/nesemu_stable.mot
!RX600/drw2d/libdrw2d.a
